*,*::after,*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);

}

.cell {

    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    border: 1.5px solid black;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell.x::before,
.cell.x::after {
    background-color: red;
    content: '';
    width: calc(var(--mark-size) * .079);
    background-color: black;
}

.cell.x::before {
    transform: rotate(45deg);
}

.cell.x::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after {
    content: '';
    background-color: black;
    position: absolute;
    border-radius: 50%;

}
    
.cell.circle::before {
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: black;
}

.cell.circle::after {
    width: var(--mark-size) * .4;
    height: var(--mark-size) * .4;
    background-color: white;
}


